extends ../partials/layout-default

block head
	- var pageTitle = 'bem-project-template';


block content
	.main
		img(src="/assets/images/hipster.png", alt="" class="main__img")
		h1.main__h1 It's my bem-project-template!
		p.
			sergeypriakhin@gmail.com
		p
			a(href="https://github.com/sergeypriakhin") GitHub
